#header {
    background-color: #edefee;
}

#header menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;

    padding: 2vw 10vw;
    margin: 0;
}

#header a {
    font-size: 1.2vw;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

#header img {
    height: 3vw;
}

#logo {
    padding-right: 3vw;
}