.testimonials {
    background-color: var(--secondary2);
    padding: var(--base-padding);
}

.testimonials__reviews {
    display: flex;
    justify-content: space-between;
    padding-top: 6vw;
}

.review__card {
    background-color: var(--highlight);
    min-height: 12vw;
    width: 19vw;
    border-radius: var(--radius);
}

.review__rating {
    margin-bottom: 1vw;
}

.review__avatar {
    height: 3vw;
    width: auto;
}