.hero {
    background-color: var(--green);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__main {
    padding: 4vw 10vw;
}

.hero__subheading {
    margin: 0 0 2vw 0;
}

.hero__button {
    background-color: var(--yellow);
    margin: 2vw 0;
    padding: 2vw 1.7vw;
    border: none;
    border-radius: 1.5vw / 1.5vw;
    font: 400 1.2vw/1.5vw 'Karla', sans-serif;
}

.hero img {
    height: 23vw;
    padding: 0 10vw 0 0;
}