.hero {
    background-color: var(--green);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__main {
    padding: 4vw 10vw;
}

.hero__subheading {
    margin: 0 0 2vw 0;
}

.hero button {
    background-color: var(--yellow);
    margin: 2vw 0;
    padding: 0.4vw 1.3vw;
    border: none;
    border-radius: 1.5vw / 1.5vw;

}

.hero img {
    height: 23vw;
    padding: 0 10vw 0 0;
}