#testimonials {
    background-color: #FBDABB;
    padding: 4vw 10vw;
}

#testimonials #reviews {
    display: flex;
    justify-content: space-between;
    padding-top: 6vw;
}

#testimonials #review {
    background-color: #edefee;
    padding: 0 2vw;
    width: 15vw;
    border-radius: 1.5vw / 1.5vw;
}

#testimonials #reviewer {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#testimonials img {
    width: 5vw;
    border-radius: 100%;
}

#testimonials p {
    color: #676767;
    font-size: 1vw;
    line-height: 1.2vw;
}