.footer {
    background-color: var(--highlight);
    padding: var(--base-padding);
}

.footer img {
    height: 15vw;
    border-radius: 0;
}

.footer a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 0
}