@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');

h1 {
    font: 600 4vw 'Markazi Text', serif;
    margin: 0;
}

h2 {
    font: 600 3vw 'Markazi Text', serif;
    margin: 0;
}

h3 {
    font: 600 1vw 'Karla', sans-serif;
}

p, a {
    font: 400 1vw 'Karla', sans-serif;
    line-height: 1.5vw;
}