#hero {
    background-color: #495E57;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3vw 10vw;
}

#hero #subheading {
    margin: 0 0 2vw 0;
}

#hero img {
    height: 25vw;
}

#hero button {
    background-color: #F4CE14;
    margin: 2vw 0;
    padding: 0.4vw 1.3vw;
    border: none;
    border-radius: 1.5vw / 1.5vw;
}