.specials {
    display: flex;
    flex-direction: column;
    padding: 4vw 10vw;
}

.specials__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.specials__online-menu {
    color: #EE9972;
}

.specials__dishes {
    display: flex;
    justify-content: space-between;
    padding-top: 6vw;
}

.specials img {
    width: 100%;
    height: auto;
    display: block;
}

.dish {
    background-color: var(--light-gray);
    overflow: hidden;
    max-width: 22vw;
    border-radius: 1.5vw / 1.5vw;
}

.dish__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw 0 1vw;
}

.dish__price {
    color: #DDBE25;
}

.dish__description {
    color: var(--dark-gray);
    height: 8.5vw;
    padding: 0 2vw 0 1vw;
}

.dish__order-link {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    white-space: nowrap;
    text-decoration: underline;
    gap: 0.6vw;
    padding: 0 0 1vw 1vw;
}

.dish__order-link img {
    width: 1.5vw;
}